:root {
  --main-color: #3DBC49;
  --background-color: #0E0563;
  
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./font/NotoNormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./font/NotoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


body {
    color : var(--main-color);
    background-color: var(--background-color);
    font-family: Noto Sans, sans-serif  ;
    text-align:center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 800px) {

    main {
        padding: 5px;
        width:85vw;
    }

    img {
        width:80vw;
        height: auto;
    }
    
}